!!!5
html
    head
        meta(charset="utf-8")
        title  CoffeeScritp模式练习
        link(href="/qunit/qunit.css",rel="stylesheet")
    body
        #qunit
            #qunit-header  CoffeeScritp模式练习
        #qunit-banner.qunit-pass
        #qunit-testresult
            include readme.md

